{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<h1>Welcome!</h1>
<p>
    Quanflagration is a tool for active investors to track stock performance and key economic indicators. Our goal is to allow everyday people to easily measure the effects of market changes on potential investments. We pull our data from <a href="https://www.quandl.com/">Quandl.com</a> and then pass it through Python libraries such as pandas and NumPy before delivering it to you via interactive charts.
</p>
<div>
    <form action="{{ url_for('shutdown') }}" class="form-inline" method="post">
        <button class="btn btn-default" type="submit">Shutdown</button>
    </form>        
</div>
{% endblock %}

